.categorybox {
}

.categorybox .image {
    display: none;
}

.categorybox .category .name {
    font-size: 16px;
    position: relative;
    max-width: 40em;
    padding-left: 20px;
    padding-bottom: 0;
    padding-right: 2em;
    background-image: url(../../../pix/icons/box.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.categorybox .category .name a {
    color: #333;
}

.categorybox .course {
    position: relative;
    padding-right: 60px;
}

.categorybox .course .name {
    /*position: relative;*/
    display: -moz-inline-block;
    display: inline-block;
    max-width: 40em;
    padding-left: 20px;
    padding-right: 2em;
    padding-bottom: 0;
    background-image: url(../../../pix/icons/book-open.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.categorybox .course .smallicon {
    position: absolute;
    right: 40px;
}

.categorybox .course .info {
    position: absolute;
    right: 20px;
    display: -moz-inline-block;
    display: inline-block;
}
