/* Login page
---------------------------------------- */

.loginbox {
    position:relative;
    overflow:hidden;
    }
.loginsub {
    margin-bottom: 18px;
    }
    .loginsub .desc {
        font-size: 11px;
        }
    .loginsub .desc img {
        vertical-align: middle;
        }
.loginpanel {
    margin-top:130px;
    width: 250px;
    float:left;
    }
.loginerrors {
    margin-bottom:12px;
    text-align: center;
    }
/* Login Form */
.loginpanel .loginform {
    margin-bottom: 5px;
    }
.loginpanel .form-label {
    font-size: 12px;
    float: left;
    width:65px;
    padding-top: 1px;
    padding-right: 5px;
    text-align:right;
    vertical-align:middle;
    color:#999;
    }
.loginform .form-input {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    }
.loginform .clearer {
    clear: both;
    }
.loginform .forgetpass {
    position:absolute;
    margin-top:1em;
    }
.loginform #loginbtn {
    display: block;
    margin-top: 20px;
}
.loginsub .rememberpass {
    position: relative;
    top: -48px;
    font-size: 11px;
    margin-left: 70px;
    }
.loginsub .forgetpass {
    text-align: center;
    font-size: 11px;
    }

/*------------------------------
 * Loginza hack
 */

#page-login-index .potentialidps {
    position:absolute;
    top:10px;
    width:230px;
    padding:7px;
    text-align:center;
    background:#E4E1D2;
    border: solid 1px #A9A89C;
    }
    #page-login-index .potentialidps h6 {
        font-size:14px;
        line-height:1;
        margin-bottom:16px;
        }
    #page-login-index .potentialidps a {
        text-decoration: none;
        }
    #page-login-index .potentialidps a img {
        position: relative;
        top:3px;
        }

/* For Guests */

.guestsub {
    border-top: solid 1px #A9A89C;
    padding-top: 12px;
    }
    .guestsub .desc {
        font-weight: bold;
        text-align: center;
        }
.guestsub form {
    text-align: center;
    }
    .guestsub input {
        }

/* Signup box */
.signuppanel {
    border-left: solid 1px #A9A89C;
    margin-left:255px;
    padding: 10px;
    }
    .signuppanel h2 {
        margin-top: 0;
        }
    .signuppanel .signupform {
        margin:2em 0 4em 0;
        }
    .signuppanel p {
        max-width: 50em;
        }
