/* Login page
---------------------------------------- */

.loginbox {
    position:relative;
    overflow:hidden;
    }
.loginpanel {
    margin-top:150px;
    float:left;
    width:400px;
    }
.loginerror {
    margin-bottom:2em;
    }
/* Login Form */
.loginpanel .loginform {
    width:350px;
    padding-bottom:2em;
    margin-bottom:1em;
    border-bottom:solid 1px #999;
    }
.loginpanel .form-label {
    width:5em;
    display:inline-block;
    text-align:right;
    vertical-align:middle;
    color:#999;
    }
.loginform .form-input {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    }
.loginform .clearer {
    height:1em;
    }
.loginform .forgetpass {
    position:absolute;
    font-size:0.8em;
    margin-top:1em;
    }

/*------------------------------
 * Loginza hack
 */

#page-login-index .potentialidps {
    position:absolute;
    top:20px;
    left:10px;
    width:250px;
    padding:16px;
    text-align:center;
    background:#fbf48e;
    border-radius:8px;
    box-shadow:0 0 8px #999;
    }
    #page-login-index .potentialidps h6 {
        font-size:16px;
        line-height:1;
        margin-bottom:16px;
        }

/* For Guests */

.guestsub {

    }
    .guestsub .desc {
        position:relative;
        display:inline-block;
        padding:0.5ex 5ex 0.5ex 1ex;
        background:#ffca39;
        border-radius:4px;
        }
.guestsub form {
    margin-top:1em;
    margin-left:5em;
    }
    .guestsub input {
        }

/* Signup box */
.signuppanel {
    margin-left:500px;
    }
    .signuppanel ol {
        font-size:1.1em;
        margin-left:-2em;
        margin-top:1em;
        }
        .signuppanel li {
            margin-bottom:0.5em;
            color:#000;
            }
    .signuppanel .signupform {
        margin:2em 0 4em 0;
        }
