body {
    font: normal 14px/1.4 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    background: #f5f6f7;
}
.wrapper {
    min-width: 990px;
    max-width: 1280px;
    margin: 0 auto;
}