/*

	BASE.CSS file
	Author: Mikhail Baranov
	e-mail: mikhail@nevkontakte.ru

*/

body {
    font:normal 14px/1.5 sans-serif;
    line-height:1.5 !important;
    /*background:#EFEFEF url("../pix/bg/body-bg.png") center 27px;*/
    background:#F1EADD center 27px;
    color:#2c2c2c;
    }
p {
    margin-bottom:1.25em;
    }
h1 {
    font-size:36px;
    font-weight:normal;
    line-height:1;
    margin:0 0 0.5em;
    letter-spacing:-2px;
    color:#3a3326;
    }
h2 {
    font-size:24px;
    font-weight:normal;
    line-height:1.18;
    margin:1em 0 0.5em;
    color:#3a3326;
    }
.skiplinks + h2
    h2:first-child {
    margin-top:0;
    }
h3 {
    line-height:1;
    font-size:18px;
    font-weight:normal;
    margin:1.5em 0 0.5em;
    color: #3a3326;
    }
h4 {
    line-height:1;
    font-size:14px;
    font-weight:normal;
    margin:0 0 1em;
    color: #3a3326;
    }
h5 {
    font-size:0.9em;
    font-weight:normal;
    color: #3a3326;
    }
h6 {
    font-size:0.8em;
    font-weight:normal;
    color: #3a3326;
    }
.content-outer ul {
    margin:0 1em;
    }
dl {
    margin-bottom:1em;
    }
dt {
    font-size:1.4em;
    }
dd {
    font-size:1.4em;
    margin:0 1em 1em;
    }
em {
    font-style:italic;
    }
strong {
    font-weight:bold;
    }
/*----------------- Content -------------------------*/

.content-box ul,
.content-box ol {
	font-size: 14px;
    margin-top:1em;
    margin-bottom:1em;
	}
.content-box ol li {
  list-style: decimal;
  margin-left: 2em;
  }
.content-box ul li {
	list-style: disc;
	margin-left: 2em;
  }

/*---------- Extra classes -----------*/

.skiplinks,
.hiddenelement,
.skip,
.skip-block,
.accesshide,
.hide {
    position:absolute;
    left:-9999px;
    }