.adminsearchform {
    position: relative;
    height:30px;
}
#adminsearchquery {
    position: absolute;
    width: auto;
    left: 0;
    right: 63px;
    /*width:10em;*/
}
.adminsearchform input[type="submit"] {
    position: absolute;
    right: 0;
}