/* Horizontal Dock
---------------------------------------- */

/* Dock container */

.dock_top_horizontal {
    font-size:11px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:none;
    text-align:center;
    }
    .has_dock_top_horizontal .dock_top_horizontal {
        display:block;
        }
.dock_top_horizontal .buttons_container {
    display:inline-block;
    padding:0px 3px 0px 0px;
    background:url("../../pix/bg/bar_background.png");
    background-position:0 100%;
    border:solid 1px #cccccc;
    border-top:none;
    border-radius: 0 0 5px 5px;
    }
.dockeditem_container {
    display:inline;
    }
    .dockeditem {
        display:inline-block;
        padding:3px 5px;
        border-left:solid 1px rgba(255,255,255,0.69);
        border-right:solid 1px rgba(0,0,0,0.15);
        }
        .dockeditem .dockedtitle {
            cursor:pointer;
            }
        .dockeditem .dockedtitle h2 {
            font-size:12px;
            font-weight:normal;
            margin:0;
            color:#777;
            text-shadow:#FFF 0px 1px 0px;
            }
    .firstdockitem {
        padding-left:10px;
        border-left:none;
        }

.dock_top_horizontal .controls {
    display:inline;
    vertical-align:middle;
    padding:3px 3px 3px 5px;
    border-left:solid 1px rgba(255,255,255,0.69);
    }


/* Dock items panel
---------------------------------------- */

#dockeditempanel {
    position:absolute;
    background:#FAFAFA;
    border:solid 1px #DDD;
    border-top:none;
    border-radius:0 0 5px 5px;
    }
    .dockitempanel_hidden {
        display:none;
        }
.dockeditempanel_content {

    }

/* Dock item header */

.dockeditempanel_hd {
    position:relative;
    padding:3px 50px 5px;
    background:#EEE;
    border-top:solid 2px #cc6a00;
    border-bottom:solid 1px rgba(0,0,0,0.15);
    }
    .dockeditempanel_hd h2 {
        font-size:12px;
        margin-top:0;
        margin-bottom:0;
        text-shadow:#FFF 0px 1px 0px;   
        }
    .dockeditempanel_hd .commands {
        position:absolute;
        top:3px;
        right:5px;
        vertical-align:middle;
        }
        .dockeditempanel_hd .commands a,
        .dockeditempanel_hd .commands img,
        .dockeditempanel_hd .commands span {
            vertical-align:top;
            }
        .dockeditempanel_hd .hidepanelicon img {
            width:auto !important;
            height:auto !important;
            }

/* Dock item body */

.dockeditempanel_bd {
    border-top:solid 1px rgba(255,255,255,0.69);
    padding:8px 8px 8px;
    }
    .dockeditempanel_bd .block_docked {
        text-align:left;
        }
    .dockeditempanel_bd .content {
        
        }
    .dockeditempanel_bd table {
        margin:0;
        }
