#header {
    position:fixed;
    z-index:1000;
    top:0;
    right:0;
    left:0;
    min-height:36px;
    padding:4px 0 0;
    background:#eee;
    border-bottom: 1px solid #ADADAD;
    box-shadow: 0px 0 6px #999;
    }
.header-wrapper {
    min-width:910px;
    max-width:1280px;
    margin:0 auto;
    }
#logo {
    float:left;
    }
.logo {
    float:left;
    margin: 0 5px 0 8px;
    height:36px;
    width:36px;
    }
.subtitle {
    font-size:10px;
    line-height:1.2;
    margin-bottom:4px;
    white-space:nowrap; 
    }
.site-name {
    font-size:24px;
    font-weight:bold;
    line-height:0.7;
    margin:0;
    white-space:nowrap;
    letter-spacing:-2px;
    }

#header a {
    color:#000;
    }
.logobar {
    padding-bottom: 3px;
    }
    .logobar:after {
        content:'.';
        visibility: hidden;
        clear: both;
        display: block;
        height:0;
        overflow: hidden;
        }
.navbar {
    padding:0 3px;
    border-top:solid 1px #CACACA;
    background:#DeDeDe;
    }
    .navbar:after {
        content:'.';
        visibility: hidden;
        clear: both;
        display: block;
        height:0;
        overflow: hidden;
        }

.navbutton {
    line-height:1;
    position: relative;
    z-index: 100;
    float:right;
    margin-top:2px;
    margin-right:4px;
    }
    .navbutton input {
        font-size:12px;
        cursor:pointer;
        }
    .navbutton input:hover {
        text-decoration:underline;
        }
