#region-post,
#region-pre {
    position: relative;
}

.block_adminblock-container {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
}

.block_adminblock-wrapper {
    position: relative;
    min-width: 910px;
    max-width: 1280px;
    margin: 0 auto;
}

.block_adminblock-wrapper .block_adminblock {
    position: absolute;
    z-index: 2000;
    width: 240px;
    left: 30px;
    padding: 8px;
    background: rgba(255, 255, 255, 1.0);
    border-radius: 4px;
    box-shadow: 0 0 4px #333;
    z-index: 1100;
}

.block_adminblock .header {
    padding: 0;
}

.block_adminblock h2 {
    font-size: 12px;
    margin: 0;
}
