.categorylist {
    font-size:14px;
    width:100%;
    }
    .categorylist .indentation {
        margin-left:2em;
        }
    .categorylist .name {
        padding: 0 5em 0.5em 0;
        }
    .categorylist .number {
        width:3em;
        color:#999;
        }