.block {
    margin-bottom:2em;
    position: relative;
    }
    .block:after {
        content:".";
        height:0;
        display:block;
        clear:both;
        overflow:hidden;
        visibility:hidden;
        }


/*--- Block header ---*/

.block .header {
    padding:5px 0;
    }
    .block .header h2 {
        margin-top:0;
        }
    .block h2 {
        margin-right:20px;
        }
.block .content {

    }
    .block.hidden .content {
        display: none;
        }