.block_action {
    position: absolute;
    right: 4px;
    top:8px;
    /*background: url(../../../pix/icons/gear-small.png);*/
    background-repeat: no-repeat;
    background-position: right top;
    }
    .block_action:hover {
        background-position: right -999px;
    }
.block_action img,
.block_action input{
    width:16px;
    height:16px;
    margin-left: 3px;
    cursor:pointer;
    background-image:url(../../../pix/icons/block-action.png);
    /*visibility: hidden;*/
    }
    .block_action:hover img,
    .block_action:hover input{
        visibility: visible;
    }
.block_action img {
    width:auto !important;
    height:auto !important;
    }


/*--- Icons ---*/

.block-hider-hide {
    background-position:0 0;
    }
    .block:hover .block-hider-hide{
        background-position:0 -32px;
        }
.block-hider-show {
    display: none;
    background-position:-32px 0;
    }
    .block:hover .block-hider-show{
        background-position:-32px -32px;
        }
.block_action .moveto {
    background-position:-64px 0;
    }
    .block:hover .block_action .moveto{
        background-position:-64px -32px;
        }
.hidden .block-hider-show {
    display: inline-block;
}
.hidden .block-hider-hide {
    display: none;
}
