.block {
    margin-bottom:1em;
    padding:8px;
    position: relative;
    background:#FFF;
    border:1px solid #CCC;
    border-radius:4px;
    }
    .block:after {
        content:".";
        height:0;
        display:block;
        clear:both;
        overflow:hidden;
        visibility:hidden;
        }
.block.hidden h2 {
    margin-bottom: 0;
}


/*--- Block header ---*/

.block .header {
    padding:5px 0;
    }
    .block .header h2 {
        margin-top:0;
        }
    .block h2 {
        margin-right:20px;
        }
.block .content {

    }
    .block.hidden .content {
        display: none;
        }