.breadcrumb {
    clear:left;
    font-size:11px;
    max-height: 16px;
    margin-left:45px;
    margin-right: 300px;
    overflow: hidden;
    padding:2px 4px;
    background:#dadada;
    border:1px solid #adadad;
    border-color:#adadad #fff #FFF #adadad;
    border-radius:4px;
    }
    .breadcrumb ul {
        font-size:11px;
        margin:0;
        }
    .breadcrumb ul li {
        list-style:none;
        display:inline;
        zoom:1;
        margin:0;
        margin-right:1ex;
        }
    .breadcrumb a {
        text-decoration:underline;
        }
