.breadcrumb {
    font-size:11px;
    position: relative;
    top:1px;
    max-height: 16px;
    margin-left:45px;
    margin-right: 300px;
    padding:3px 4px 3px;
    background:#dadada;
    }
    .breadcrumb ul {
        font-size:11px;
        margin:0;
        }
    .breadcrumb ul li {
        list-style:none;
        display:inline;
        zoom:1;
        margin:0;
        margin-right:1ex;
        }
