.breadcrumb {
    font-size:11px;
    position: relative;
    /*display: inline-block;*/
    /*top:3px;*/
    /*max-height: 17px;*/
    margin-left:50px;
    /*padding:0px 4px;*/
    /*border:solid 1px #acacac;
    border-radius:3px;*/
    }
    .breadcrumb ul {
        display: inline-block;
        font-size:11px;
        margin:0;
        }
    .breadcrumb ul li {
        list-style:none;
        display:inline-block;
        margin-left:0;
        padding: 0px 4px 0px 12px;
        background-image: url(../../../pix/bg/breadcrumb.png);
        background-repeat: no-repeat;
        background-position: -8px center;
        color:#999;
        }
    .breadcrumb a,
    .breadcrumb span {
        display: block;
        padding: 6px 0;
        }
    .breadcrumb ul li:first-child {
        max-width:none;
        background: none;
        padding-left:0;
        }
    .breadcrumb ul li:last-child {
        max-width:none;
        }

    .breadcrumb .arrow {
        display: none;
        }