.course_category_tree {
    margin-bottom:1em;
    }
.subcategories {
    margin: 0 0 0 20px;
    /*border-left:solid 1px #ededed;*/
    /*border-bottom:solid 1px #dbdbdb;*/
    }
    .subcategories .category_label {
        /*margin-left:1ex;*/
        }
.category {
    margin: 0em .5em 0em 0;
    /*padding-bottom:.5em;*/
    /*border:solid 1px #dbdbdb;*/
    /*border-radius:5px 5px 0 0;*/
    }
    .category:last-child {
        /*border-bottom:none;*/
        }
.category_label {
    font-size:16px;
    padding-left:1.4em;
    background: 3px center no-repeat;
    /*border-bottom:solid 1px #c2c2c2;*/
    }
    .with_children .category_label {
        background-image: url("../../../pix/icons/minus-white.png");
        }
    .collapsed .category_label {
        background-image:url(../../../pix/icons/plus-white.png);
        border-bottom:none;
        }
    .category_link {
        display:block;
        padding-left:20px;
        background-image:url(../../../pix/icons/box.png);
        background-repeat:no-repeat;
        background-position:0 50%;
        color:#333;
        }
.courses {
    margin-left:23px;
    }
    .courses .course {
        padding-left:20px;
        background-image:url(../../../pix/icons/book-open.png);
        background-repeat:no-repeat;
        background-position:0 50%;
        }
        .course_info {
            display:inline;
            margin:1ex;
            }
.course_category_tree .controls {
    font-size:12px;
    padding:3px 5px;
    }
    .course_category_tree .controls div {
        display:inline-block;
        margin-right:1em;
        cursor:pointer;
        border-bottom:dotted 1px;
        }
.collapsed {
    padding-bottom:0;
    }
.collapsed .courses,
.collapsed .subcategories {
    display:none;
    }