.navbutton input[type="submit"] {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border:solid 1px;
    border-color: #A7A7A7;
    border-bottom-color: #939393;
    background: -moz-linear-gradient(#DDD,#B0B0B0);
    background: -webkit-linear-gradient(#DDD,#B0B0B0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd',endColorstr='#B0B0B0')";
    background: linear-gradient(#DDD,#B0B0B0);
    /*box-shadow: 0 1px 4px rgba(0,0,0,0.2);*/
    display: inline-block;
    padding: 4px 8px;
    line-height: normal;
    border-radius: 3px;
    }
    .navbutton input:hover {
        text-decoration:none;
        background: linear-gradient(#CBCBCB, #A7A7A7);
        background: -moz-linear-gradient(#CBCBCB, #A7A7A7);
        background: -webkit-linear-gradient(#CBCBCB, #A7A7A7);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBCBCB',endColorstr='#A7A7A7')";
        }
