.navbutton input[type="submit"] {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    border:solid 1px;
    border-color: #24a727;
    border-bottom-color: #509338;
    background: linear-gradient(#8ADD6D,#60B044);
    background: -moz-linear-gradient(#8ADD6D,#60B044);
    background: -webkit-linear-gradient(#8ADD6D,#60B044);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
    background: linear-gradient(#8ADD6D,#60B044);
    /*box-shadow: 0 1px 4px rgba(0,0,0,0.2);*/
    display: inline-block;
    padding: 4px 8px;
    line-height: normal;
    border-radius: 3px;
    }
    .navbutton input:hover {
        text-decoration:none;
        background: linear-gradient(#47CB47, #24a727);
        background: -moz-linear-gradient(#47CB47, #24a727);
        background: -webkit-linear-gradient(#47CB47, #24a727);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#89e169',endColorstr='#5eb73d')";
        }
