.categorybox {
}
.categorybox .image {
    display:none;
}
.categorybox .category .name {
    font-size:16px;
    padding-left:20px;
    padding-bottom:0;
    background-image:url(../../../pix/icons/box.png);
    background-repeat:no-repeat;
    background-position:0 50%;
}
.categorybox .category .name a {
    color:#333;
}
    .categorybox .course .name {
        display:-moz-inline-block;
        display:inline-block;
        padding-left:20px;
        padding-right:1em;
        padding-bottom:0;
        background-image:url(../../../pix/icons/book-open.png);
        background-repeat:no-repeat;
        background-position:0 50%;
    }
    .categorybox .course .info {
        display:-moz-inline-block;
        display:inline-block;
    }
