form {
    }
form .fld {
    overflow:hidden;
    margin-bottom:1em;
    }
form .fld label {
    display:inline-block;
    width:48px;
    margin-right:8px;
    text-align:right;
    vertical-align:middle;
    }
form .btn {
    margin-left:56px;
    margin-bottom:1em;
    }
input[type="text"],
input[type="password"] {
    padding:3px;
    vertical-align:middle;
    }