input[type="submit"] {
    line-height: normal;
    display: inline-block;
    margin-left:4px;
    padding: 4px 8px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    border:solid 1px;
    border-color: #24a727;
    border-bottom-color: #509338;
    border-radius: 3px;
    background: -moz-linear-gradient(#8ADD6D,#60B044);
    background: -webkit-linear-gradient(#8ADD6D,#60B044);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ADD6D',endColorstr='#60B044')";
    background: linear-gradient(#8ADD6D,#60B044);
    }
    input[type="submit"]:hover {
        text-decoration:none;
        background: linear-gradient(#47CB47, #24a727);
        background: -moz-linear-gradient(#47CB47, #24a727);
        background: -webkit-linear-gradient(#47CB47, #24a727);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#47CB47',endColorstr='#24a727')";
        cursor: pointer;
        }
input[name="cancel"] {
    border-color:#989898;
    border-bottom-color:#989898;
    background: -moz-linear-gradient(#c3c3c3,#a8a8a8);
    background: -webkit-linear-gradient(#c3c3c3,#a8a8a8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3',endColorstr='#a8a8a8')";
    background: linear-gradient(#c3c3c3,#a8a8a8);
    }
    input[name="cancel"]:hover {
        background: -moz-linear-gradient(#b0b0b0,#989898);
        background: -webkit-linear-gradient(#b0b0b0,#989898);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0',endColorstr='#989898')";
        background: linear-gradient(#b0b0b0,#989898);
        }
input[type="button"] {
    line-height: normal;
    display: inline-block;
    margin-left:4px;
    padding: 4px 8px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    border:solid 1px;
    border-color: #0028a5;
    border-bottom-color: #3a6d95;
    border-radius: 3px;
    background: -moz-linear-gradient(#71b3e0,#4782b3);
    background: -webkit-linear-gradient(#71b3e0,#4782b3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#71b3e0',endColorstr='#4782b3')";
    background: linear-gradient(#71b3e0,#4782b3);
    }
    input[type="button"]:hover {
        text-decoration:none;
        background: linear-gradient(#116cc8, #116aa8);
        background: -moz-linear-gradient(#116cc8, #116aa8);
        background: -webkit-linear-gradient(#116cc8, #116aa8);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#116cc8',endColorstr='#116aa8')";
        cursor: pointer;
        }

/* Specific changes */


#id_submitbutton {
    padding: 8px 15px;
    }

.buttons div,
.buttons form {
    display: inline-block;
}